<p>Hello <%= @donor.first_name %></p>

<p>I'm part of the team at New Story and I just saw your donation come in. I wanted to take a minute to give you the, "thank you!" I wish I could give in person. Consider this video I made for you a virtual high five 👋 <%= @url %></p>
