
<form action='/admins/' method='post'>
  First name<input type="text" name="admin_name" placeholder="Name">
  Email<input type="email" name="email" placeholder="email">
  Password<input type="password" name="password" placeholder="password">
  <input type="submit" value="submit">
</form>

<!--
<%#= form_for @admin do |f| %>

  <%# if @admin.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%#= pluralize(@admin.errors.count, "error") %> prohibited
        this admin from being saved:
      </h2>
      <ul>
        <%# @admin.errors.full_messages.each do |msg| %>
          <li><%#= msg %></li>
        <%# end %>
      </ul>
    </div>
  <%# end %>

  <p>
    <%#= f.label :admin_name %><br>
    <%#= f.text_field :admin_name %>
  </p>
  <p>
    <%#= f.label :email %><br>
    <%#= f.text_field :email %>
  </p>
    <p>
    <%#= f.label :password %><br>
    <%#= f.text_field :password %>
  </p>
  <p>
    <%#= f.submit %>
  </p>
 -->
<%# end %>
