<script>
  function hasGetUserMedia() {
  return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
}
if (hasGetUserMedia()) {
  console.log("Good to go!");
} else {
  alert('getUserMedia() is not supported in your browser');
}
</script>

<p>Donor's name: <%= @donor.name %></p>
<p>Donor's donation: <%= @donor.donation %></p>

<% if current_user %>
  <video autoplay id="video"></video>
  <div id="center-buttons">
    <button class="rec buttons" onclick="onBtnRecordClicked()">REC</button>
    <button class="stop buttons" onclick="onBtnStopClicked()">STOP</button>
    <button class='send buttons' onclick='onBtnSendClicked("<%= @donor.id %>")'>SEND</button>
  </div>
<% else %>
  <p>You need to <%= link_to 'Log In', '/auth/google_oauth2' %> to record a video</p>
<% end %>





