<script>
  function hasGetUserMedia() {
  return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
}

if (hasGetUserMedia()) {
  console.log("Good to go!");
} else {
  alert('getUserMedia() is not supported in your browser');
}
</script>


<video autoplay id="video"></video>

<div id="center-content">
  <div id="center-buttons">
    <button class="rec buttons" onclick="onBtnRecordClicked()">REC</button>
    <button class="stop buttons" onclick="onBtnStopClicked()">STOP</button>
    <button class="send buttons">SEND</button>
  </div>

  <h1>SnapThank</h1>

<!-- <h3>Donor's name: <%#= @donor.name %></h3>
<h3>Donor's donation: <%#= @donor.donation %></h3>


<%#= form_for([@donor, @donor.videos.build]) do |f| %>
  <p>
    <%#= f.label :link %><br>
    <%#= f.text_field :link %>
  </p>
  <p>
    <%#= f.submit %>
  </p>
<%# end %> -->
</div>



