/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.pager-custom{
    padding: 1px;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}


.card {
  max-width:100%;
  border-style: solid;
}

.login {
  float: right;
}

/*.donorDiv {
  float: left;
}
*/
.SignInGoogle{
  width: 250px;
  height: 60px;
}

/*.donor_container{
  width: 100%;
}*/

/*.user_name{
  margin-top: 20px;
  padding-right: 10px;
}
*/
#video {
  background: #212020;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

/*#center-buttons{
  padding: 15px;
}*/

#uploading {
  /*position: absolute;*/
  /*margin: 125px 0 0 570px;*/
  /*width: 100%;*/
  /*height: 100%;*/
}

.disable-buttons{
  /*margin-left: 5%;*/
  display: none;
}
/*.buttons{
  margin-left: 5%;
}
*/

.sending{
  /*position: absolute;*/
  /*margin: 380px 0 0 390px;*/
  /*font-size: 50px;*/
}

.rec {
   border-top: 1px solid #f79797;
   background: #361f07;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#361f07));
   background: -webkit-linear-gradient(top, #ff0000, #361f07);
   background: -moz-linear-gradient(top, #ff0000, #361f07);
   background: -ms-linear-gradient(top, #ff0000, #361f07);
   background: -o-linear-gradient(top, #ff0000, #361f07);
   padding: 6.5px 13px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.rec:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.rec:active {
   border-top-color: #ff0000;
   background: #ff0000;
   }

.stop {
   border-top: 1px solid #bd743d;
   background: #544201;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffdd00), to(#544201));
   background: -webkit-linear-gradient(top, #ffdd00, #544201);
   background: -moz-linear-gradient(top, #ffdd00, #544201);
   background: -ms-linear-gradient(top, #ffdd00, #544201);
   background: -o-linear-gradient(top, #ffdd00, #544201);
   padding: 6.5px 13px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.stop:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.stop:active {
   border-top-color: #ff0000;
   background: #ff0000;
   }

.send {
   border-top: 1px solid #bd743d;
   background: #283d10;
   background: -webkit-gradient(linear, left top, left bottom, from(#0dff00), to(#283d10));
   background: -webkit-linear-gradient(top, #0dff00, #283d10);
   background: -moz-linear-gradient(top, #0dff00, #283d10);
   background: -ms-linear-gradient(top, #0dff00, #283d10);
   background: -o-linear-gradient(top, #0dff00, #283d10);
   padding: 6.5px 13px;
   -webkit-border-radius: 27px;
   -moz-border-radius: 27px;
   border-radius: 27px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.send:hover {
   border-top-color: #ff0000;
   background: #ff0000;
   color: #ccc;
   }
.send:active {
   border-top-color: #ff0000;
   background: #ff0000;
   }

.display-none{
  display:none;
}
.display-block{
  display:block;
}
 #landscape{
    display: none;
  }

/*admin*/
.admin{
  float: right;
}
.row-info-1{
  background-color: #d8d8d8;
}
/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */

/* Galaxy landscape*/
@media screen and (device-width: 640px) and (device-height: 360px){
  #body{
    background-color: #cccccc;
    /*background-color: gray;*/
  }
  p {
    font-size: 17px;
  }
  .scroll{
    padding: 20px;
  }

  #video{
    margin: 0 0 0 -28px;
    width: 555px;
    height: 310px;
  }

  #rec{
    position: absolute;
    margin: -325px 0 0 250px;
  }

  #stop{
    position: absolute;
    margin: -225px 0 0 246px;
  }

  #send{
    position: absolute;
    margin: -125px 0 0 245px;
  }

  .smoothScroll{
    border-top: 1px solid #bd743d;
    background: #283d10;
    background: -webkit-gradient(linear, left top, left bottom, from(#0dff00), to(#283d10));
    background: -webkit-linear-gradient(top, #0dff00, #283d10);
    background: -moz-linear-gradient(top, #0dff00, #283d10);
    background: -ms-linear-gradient(top, #0dff00, #283d10);
    background: -o-linear-gradient(top, #0dff00, #283d10);
    padding: 20px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
     /*color: white;*/
    font-size: 20px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    text-decoration: none;
  }
  .smoothScroll:hover {
    border-top-color: #ff0000;
    background: #ff0000;
    color: #ccc;
    text-decoration: none;
  }
  .smoothScroll:active {
    text-decoration: none;
    border-top-color: #ff0000;
    background: white;
  }
  .snapThank{
    padding-top: 120px;
  }

  #uploading {
    position: absolute;
    margin: 0 0 0 20%;
    width: 300px;
    height: 300px;
  }
  .sending{
    font-size: 50px;
  }

  .card {
    margin-top: -22px;
  }
  .message{
    padding: 1px;
    margin: 20px 0;
    text-align: center;
    list-style: none;
  }
  .flash{
    font-size: 30px;
    padding: 10px;
  }
  #landscape{
    display: none;
  }

  .alert-notice{
    text-align: center;
  }
}


/* Galaxy portrait*/
@media screen and (device-width: 360px) and (device-height: 640px){
  .portrait-position{
    display:none;
  }
  #landscape{
    display: block;
    width: 370px;
    height: 270px;
    margin-left: -30px;
  }
  p {
    font-size: 17px;
  }
}
