<!DOCTYPE html>
<html>
  <head>
    <title>SnapThankV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
        <h2>SnapThank</h2>
        </div>
      </div>
    </div>

    <div>
      <%= yield %>
    </div>
  </body>
</html>
